.profileBody {
  font-size: 3em;
  overflow-x: hidden;
}

.profileInfo {
  margin-top: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.imageOnProfile {
  visibility: hidden;
}

.fadeIn {
  -webkit-animation: revealPicture 1000ms ease-in;
  animation: revealPicture 1000ms ease-in;
  visibility: visible !important;
}

@-webkit-keyframes revealPicture{
  0%{opacity:0}
  100%{opacity:1}
}
