<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    {% block stylesheets %}

        {{ encore_entry_link_tags('app') }}

    {% endblock %}

</head>
<body>
<nav class="navbar-inverse sticky-top">
    <div class="container-fluid py-2">
        <ul class="nav navbar-nav navbar headerlinks">
            <li class=""><a class="navbar-brand font-weight-bold bjorn" href="#">Bjorn Photography</a></li>
            <li class=""><a href="{{ path('lobby') }}">Home</a></li>
            <li class=""><a href="{{ path('profile') }}">Profile</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right headerlinks">
            <li class=""><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
            <li class=""><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        </ul>
    </div>
</nav>
{% block body %}
{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
</body>
</html>

